<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.shardingjdbc.mapper.WarehouseInfoMapper">


    <select id="getUserAndWareHouseVo" resultType="com.sharding.shardingjdbc.vo.UserAndWareHouseVo">
        SELECT
            t.user_id,
            t.`name`,
            t.city_id,
            t.sex,
            t.phone,
            t.email,
            t.create_time,
            t.`password`,
            t.warehouse_id,
            c.`name` AS city_name
        FROM
            t_user AS t
            LEFT JOIN city AS c ON t.city_id = c.id

    </select>
    
    <select id="getByWarehouseId" resultType="com.sharding.shardingjdbc.entity.WarehouseInfoEntity">
        SELECT
        *
        FROM
        warehouse_info
        WHERE
        warehouse_id=481792958807412737
    </select>
    
    
</mapper>
